import(FactoMineR)
import(tidyverse)
import(ggrepel)
import(ggplot2)
import(ca)
import(plotly)
import(this.path)
import(egg)
import(soc.ca)
import(factoextra)
import(CAinterprTools)
import(DT)
import(shiny)
import(readxl)
import(pander)
import(shinyFeedback)
import(waiter)
import(shinyWidgets)
import(writexl)
import(readr)
import(openxlsx)
exportPattern("^[[:alpha:]]+")
export(interShiny)

